<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <ProcessingUnit>
    <Mirrors>
      <add Name="mirror-service">
        <SourceSpace Name="stock" Partitions="2" Backups="1"/>
        <ExternalDataSource Type="My_App.NHibernate.NHibernateExternalDataSource">
          <Properties>
            <add Name="nhibernate-hbm-dir" Value="nHibernate"/>
            <add Name="nhibernate-config-file" Value="nHibernate\nHibernate.cfg.xml"/>
            <!-- Reduce the number of initial load threads for this example, to avoid overwhelming the database with too many concurrent sessions-->
            <add Name="InitialLoadThreadPoolSize" Value="3"/>
          </Properties>
        </ExternalDataSource>
      </add>
    </Mirrors>
  </ProcessingUnit>
</configuration>