<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <ProcessingUnit>
    <EmbeddedSpaces>
      <add Name="My_App">
        <Properties>
          <!-- Set space cache policy to All-In-Cache -->
          <add Name="space-config.engine.cache_policy" Value="1"/>
          <add Name="cluster-config.cache-loader.external-data-source" Value="true"/>
          <add Name="cluster-config.cache-loader.central-data-source" Value="true"/>
          <add Name="cluster-config.mirror-service.enabled" Value="true"/>
          <add Name="cluster-config.mirror-service.url" Value="jini://*/mirror-service_container/mirror-service"/>
        </Properties>
      </add>
    </EmbeddedSpaces>
  </ProcessingUnit>
</configuration>