<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <appSettings>
    <add key="NumberOfRecords" value="50000"/>
    <add key="BlockSize" value="50"/>
    <add key="FeedingThrottle" value="300"/>
  </appSettings>
  <ProcessingUnit>
    <SpaceProxies>
      <add Name="myApp"/>
    </SpaceProxies>
  </ProcessingUnit>
</configuration>