<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <ProcessingUnit>
    <Mirrors>
      <add Name="mirror-service">
        <SourceSpace Name="My_App" Partitions="2" Backups="1"/>
        <ExternalDataSource Type="My_App.EntityFramework.EntityFrameworkExternalDataSource">
          <Properties>
            <!-- These two parameters are required to configure datasource with XML file -->
            <add Name="EntityFrameworkContextFullTypeName" Value="My_App.My_AppDbContext, My_App"/>
            <add Name="EntityFrameworkConnectionString" Value="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MyAppDB.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework"/>
            <!-- Reduce the number of initial load threads for this example, to avoid overwhelming the database with too many concurrent sessions-->
            <add Name="InitialLoadThreadPoolSize" Value="3"/>
          </Properties>
        </ExternalDataSource>
      </add>
    </Mirrors>
  </ProcessingUnit>
</configuration>